[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "ProteoDisco"]
	path = ProteoDisco
	url = https://github.com/erasmusmc-ccbc/proteodisco
	shallow = true
	registered = true
